{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}
<div class="page login-page">
    <div class="container" style="margin-left:10%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    <span>Sistema</span><strong class="" style="color: black;">Condado</strong>
               </div>
                <br>
                <h3>Redefinição de senha</h3>
                <br>
                <h7>Esqueceu sua senha? Insira seu endereço de e-mail abaixo e
                    enviaremos instruções para configurar um novo.</h7>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
