{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block main %}
<div class="page login-page">
    <div class="container" style="margin-left:10%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    <span>Sistema</span><strong class="" style="color: black;">Condado</strong>
                </div>
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
