{% extends 'base.html' %}
{% load static %}
<head>
    <meta http-equiv="Cache-control" content="no-cache">

</head>
<body>
{% block sistema %}
{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}
    <!-- Counts Section -->

    {% block content %}
    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <section class="dashboard-counts section-padding">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Count item widget-->
                            <div class="col-xl-2 col-md-4 col-6" style="margin-left: 2%;">
                                <div class="wrapper count-title d-flex">
                                    <div class="icon"><i class="icon-user"></i></div>
                                    <div class="name"><strong
                                            class="text-uppercase">Imoveis cadastrados</strong>
                                        <div class="count-number">{{ count_realState }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Count item widget-->
                            <div class="col-xl-2 col-md-4 col-6" style="margin-left: 10%;">
                                <div class="wrapper count-title d-flex">
                                    <div class="icon"><i class="icon-padnote"></i></div>
                                    <div class="name"><strong
                                            class="text-uppercase">Moradores cadastrados</strong>
                                        <div class="count-number">{{ count_morador }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Count item widget-->
                            <div class="col-xl-2 col-md-4 col-6" style="margin-left: 10%;">
                                <div class="wrapper count-title d-flex">
                                    <div class="icon"><i class="icon-check"></i></div>
                                    <div class="name"><strong class="text-uppercase">Contratos
                                        gerados</strong>
                                        <div class="count-number">{{count_contratos}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-4 col-6" style="margin-left: 8%;">
                                <div class="wrapper count-title d-flex">
                                    <div class="icon"><i class="icon-check"></i></div>
                                    <div class="name"><strong class="text-uppercase">Despesas Geradas
                                    </strong>
                                        <div class="count-number">{{count_despesas}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Header Section-->
                <section class="dashboard-header section-padding">
                    <div class="container-fluid">
                        <div class="row d-flex align-items-md-stretch">
                            <!-- Pie Chart-->
                            <div class="col-lg-6 col-md-6" style="margin-top: -30px;margin-left:-5px;">
                                <div class="card project-progress">
                                    <h2 class="display h4" style="margin-left:40%;margin-top:5%;">Contratos</h2>
                                    <div class="pie-chart">
                                        <canvas id="pieChart" width="300" height="300"></canvas>
                                        <script type="application/javascript">
                                                 charts({{ativos}},{{encerrados}});



                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: -30px;margin-left:4px;">
                                <div class="card project-progress">
                                    <h2 class="display h4" style="margin-left:40%;margin-top:5%;">Despesas</h2>
                                    <div class="pie-chart">
                                        <canvas id="pieChart2" width="400" height="400"></canvas>
                                        <script type="application/javascript">
                                                 charts2({{manutencao}},{{agua}},{{eletricidade}},{{imposto}},{{outro}});



                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>

{% endblock %}

</body>
</html>