{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="page login-page">
    <div class="container" style="margin-left:8%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Sistema</span><strong
                        class="" style="color: black;">Condado</strong>
                </div>
                <br>
                <h1>Confirmação de senha.</h1>
                <br>
                <p>
                    Sua senha foi definida. Você pode ir em frente e
                    <a href="{% url 'login' %}">Logar</a> agora.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}