{% extends 'base.html' %}

{% block main %}
<div class="page login-page">
    <div class="container" style="margin-left:8%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Sistema</span><strong
                        class="" style="color: black;">Condado</strong>
                </div>

                <p> Te enviamos um email com as instrucoes de reset da sua senha se
                    uma conta com este email existir no nosso banco de dados
                </p>

                Se voce nao tiver recebido um email por favor cetifique-se de que voce
                entrou com um email correto
                </p>
                <br>
                 <small style="margin-left:3%;">Voltar para a pagina de  </small>
                        <a href="{% url 'login' %}" class="signup">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}