{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Pagina de login {% endblock %}

{% block main %}

<div class="page login-page">
    <div class="container" style="margin-left:8%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Sistema</span><strong
                        class="" style="color: black;">Condado</strong>
                </div>
                <br>
                <h3>Redefinição de senha</h3>
                <br>
                <h7>Esqueceu sua senha? Insira seu endereço de e-mail abaixo e
                    enviaremos instruções para configurar um novo.</h7>
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}