{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="page login-page">
    <div class="container" style="margin-left:8%;">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Sistema</span><strong
                        class="" style="color: black;">Condado</strong>
                </div>
                {% if validlink %}
                <h3>Alterar senha</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit">Change password</button>
                </form>
                {% else %}
                <p>
                    O link de redefinição de senha era inválido, possivelmente porque já foi usado.
                    Solicite uma nova redefinição de senha.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}