{% extends 'base.html' %}
{% load static %}
{% block title %}Settings{% endblock %}

{% block sistema %}

{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}
    <!-- Counts Section -->
    <!-- Nav tabs -->
    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapsefour">
                                    Dados do Proprietario
                                </a>
                            </div>
                            <div id="collapsefour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <!--                                    <div class="input-group">-->
                                    {% block dadosproprietario %}
                                    {% include 'settings/dadosProprietario.html' %}
                                    {% endblock %}
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Notificações
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <br>
                                    <h3>Notificações de E-mail</h3>
                                    <hr>
                                    <form>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="switch2">
                                            <label class="custom-control-label" for="switch2">Notificação de novo
                                                imoveis</label>
                                        </div>
                                    </form>
                                    <form>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="switch3">
                                            <label class="custom-control-label" for="switch3">Notificação de novo
                                                Morador</label>
                                        </div>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    Import / Export
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">

                                    {% block importImoveis %}
                                    {% include 'settings/importImoveis.html' %}
                                    {% endblock %}
                                    <br>
                                    {% block importMorador %}
                                    {% include 'settings/importMorador.html' %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>
{% endblock %}


