{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de históricos{% endblock %}

{% block sistema %}

{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}
    <!-- Counts Section -->
    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="listagemGeral">
                    <hr>
                    <h3 style="margin-left:37%;">Historico de contratos
                        <!--                        <input class="" type="search" placeholder="Localizar..."-->
                        <!--                               name="search_box" style="width:40%;margin-left:25%;">-->
                    </h3>
                    <hr>
                    <table class="table table-responsive-lg table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Contrato</th>
                            <th scope="col">Data entrada</th>
                            <th scope="col">Vencimento</th>
                            <th scope="col">Status</th>
                            <th scope="col">Data de encerramento</th>
                            <th scope="col">Imovel</th>
                            <th scope="col">Morador</th>
                            <th scope="col">Aluguel</th>
                            <th scope="col">Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for historicos in historico %}
                        <tr>
                            <td>
                                <a href="{% url 'historicoDetail' historicos.numcontrato%}">{{historicos.numcontrato}}</a>
                            </td>
                            <td><a>{{historicos.data_entrada}}</a></td>
                            <td><a>{{historicos.vencimento}}</a></td>
                            <td><a>{{historicos.status}}</a></td>
                            <td><a>{{historicos.data_encerramento}}</a></td>
                            <td><a>{{historicos.imovel}}</a></td>
                            <td><a>{{historicos.morador}}</a></td>
                            <td><a>{{historicos.aluguel}}</a></td>
                            <td><a href="{% url 'printHist' historicos.numcontrato%}"
                                   class="material-icons" style="font-size:23px">get_app
                            </a>
                                <a href="{% url 'print_quebra' historicos.numcontrato%}"
                                   class="material-icons" style="font-size:23px;color:red">file_download
                                </a>
                            </td>

                            {% empty %}
                            <li>Desculpe, não existe nenhum "Historico " cadastrado.</li>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <h6>Quantidade: {{qtd}}</h6>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>
{% endblock %}