{% block teste %}
<table class="table table-responsive-lg table-striped">
    <thead>
    <tr>
        <th scope="col">codigo</th>
        <th scope="col">status</th>
        <th scope="col">endereço</th>
        <th scope="col">numero</th>
        <th scope="col">complemento</th>
        <th scope="col">bairro</th>
        <th scope="col">cidade</th>
        <th scope="col">estado</th>
        <th scope="col">ações</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td><a>{{imovel}}</a></td>


    </tr>

    </tbody>
</table>
{% endblock %}