{% block listRelatorio %}

      <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="listagemGeral">
                    <hr>
                    <h3 style="margin-left:37%;">Listagem de contratos</h3>

                    <hr>
                <!--                    <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">-->

<!--                <a href="{% url 'import' %}">-->
<!--                    <i class="material-icons" style="font-size:30px">file_upload</i></a>-->
                <table class="table table-responsive-lg table-striped">
                        <thead>


                        {% if contratos %}
                        <tr>
                            <th scope="col">Número do contrato</th>
                            <th scope="col">Imovel</th>
                            <th scope="col">Morador</th>
                            <th scope="col">Aluguel</th>
                            <th scope="col">Data de entrada</th>
                            <th scope="col">Vigência</th>
                            <th scope="col">Vencimento</th>

                        </tr>

                        {% endif %}
                        </thead>


                        <tbody>
                        {% for contrato in contratos %}
                        <tr>
                            <td><a>{{contrato.numcontrato}}</a></td>
                            <td><a>{{contrato.imovel}}</a></td>
                            <td><a>{{contrato.morador}}</a></td>
                            <td><a>{{contrato.aluguel}}</a></td>
                            <td><a>{{contrato.data_entrada}}</a></td>
                            <td><a>{{contrato.vigencia}}</a></td>
                            <td><a>{{contrato.vencimento}}</a></td>

                            {% empty %}
                            <li>Desculpe, não encontrei nada com essas datas.</li>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                <br>
                    {% if contratos %}
                    <p style="margin-left: 78%"><b>Total: R${{somaContratos}}</b></p>
                    {% endif %}
                <hr>


            </div>

                <div class="listagemGeral">

                    <!--                    <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">-->

                    <!--                <a href="{% url 'import' %}">-->
                    <!--                    <i class="material-icons" style="font-size:30px">file_upload</i></a>-->
                     <table class="table table-responsive-lg table-striped">
                    <thead>
                         <h3 style="margin-left:37%;">Listagem de despesas</h3>
                         <hr>
                    {% if despesa %}
                    <tr>
                        <th scope="col">Imovel</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                        <th scope="col">Observação</th>

                    </tr>

                    {% endif %}
                    </thead>


                    <tbody>
                    {% for despesas in despesa %}
                    <tr>
                        <td><a>{{despesas.imoveis}}</a></td>
                        <td><a>{{despesas.tipo}}</a></td>
                        <td><a>{{despesas.valor}}</a></td>
                        <td><a>{{despesas.data}}</a></td>
                        <td><a>{{despesas.observacao}}</a></td>

                        {% empty %}
                        <li>Desculpe, não encontrei nada com essas datas.</li>
                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
                    {% if despesa %}
                    <br>
                    <p style="margin-left: 78%"><b>Total: R${{somaDespesas}}</b></p>
                    <hr>
                    <br>
                    {% endif %}

                </div>

                {% if contratos and despesa %}
                <hr>
                    {% if somaTotal > 0 %}
                    <h3 style="margin-left: 60%"> Subtração dos valores total: <b>R${{somaTotal}}</b></h3>
                    {% else %}
                    <h3 style="margin-left: 60%"> Subtração dos valores total: <b style="color: red">R${{somaTotal}}</b></h3>
                    {% endif %}
                <hr>
                <br>

                {% endif %}
                {% block footer %}

                {% endblock %}

        </div>
    </div>
</div>

{% endblock %}


