{% block listContratos %}

<div class="col-lg-12" style="margin-top:20px;">
    <div class="card">
        <div class="card-body">
            <div class="listagemGeral">
                <hr>
                <h3 style="margin-left:37%;">Listagem de contratos</h3>
                <p style="margin-left:85%;"><a href="{% url 'print_relatorio'  %}"> teste </a></p>
                <hr>
                <!--                    <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">-->

                <!--                <a href="{% url 'import' %}">-->
                <!--                    <i class="material-icons" style="font-size:30px">file_upload</i></a>-->
                <table class="table table-responsive-lg table-striped">
                    <thead>


                    {% if contratos %}
                    <tr>
                        <th scope="col">Número do contrato</th>
                        <th scope="col">Imovel</th>
                        <th scope="col">Morador</th>
                        <th scope="col">Aluguel</th>
                        <th scope="col">Data de entrada</th>
                        <th scope="col">Vigência</th>
                        <th scope="col">Vencimento</th>

                    </tr>

                    {% endif %}
                    </thead>


                    <tbody>
                    {% for contrato in contratos %}
                    <tr>
                        <td><a>{{contrato.numcontrato}}</a></td>
                        <td><a>{{contrato.imovel}}</a></td>
                        <td><a>{{contrato.morador}}</a></td>
                        <td><a>{{contrato.aluguel}}</a></td>
                        <td><a>{{contrato.data_entrada}}</a></td>
                        <td><a>{{contrato.vigencia}}</a></td>
                        <td><a>{{contrato.vencimento}}</a></td>

                        {% empty %}
                        <li>Desculpe, não encontrei nada com essas datas.</li>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>

                <br>
                {% if contratos %}
                <p style="margin-left: 87%"><b>Total: R${{somaContratos}}</b></p>
                {% endif %}
                <hr>
                <br>

            </div>


            {% block footer %}

            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}


