{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}Relatorio despesas{% endblock %}

{% block sistema %}

{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}
    <!-- Counts Section -->
    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="listagemGeral">
                    <hr>
                    <h3 style="margin-left:37%;">Novo relatório de despesas</h3>
                    <hr>
                    <br>
                    <div name="form" style="margin-left:15%">
                        <form method="post" action="/relatorio/relatorio_despesas/">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label class="control-label ">Data de entrada</label>
                                    <input type="date" name="data1" class="form-control" max="2050-12-31" required>
                                </div>
                                <div class="form-group col-md-5" style="float:left;">
                                    <label class="control-label ">Data de saida</label>
                                    <input type="date" name="data2" class="form-control" max="2050-12-31" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group col-md-5" style="float:left;">
                                {{ form|bootstrap }}
                            </div>
                            <div class="form-group col-md-5" style="float:left;">
                                <div class="form-group">
                                    <label class="control-label  " for="id_opcoes_despesa">Opções despesa</label>
                                    <div class=" ">
                                        <select name="opcoes_despesa" class=" form-control" id="id_opcoes_despesa">
                                            <option value="todos">Todos</option>
                                            <option value="Manutenção">Manutenção</option>
                                            <option value="Água">Água</option>
                                            <option value="Eletricidade">Eletricidade</option>
                                            <option value="Imposto">Imposto</option>
                                            <option value="Outro">Outro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" style="margin-left:35%" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                    {% if mostrar_lista %}
                    {% block listDespesas %}
                    {% include 'relatorio/listar_despesas.html' %}
                    {% endblock %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>
{% endblock %}