{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Despesas{% endblock %}

{% block sistema %}

{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}

    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="listagemGeral">
                    <hr>
                    <h3 style="margin-left:37%;">Lista de despesas</h3>
                    <hr>
                    <!--                    <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">-->

                    <!--                <a href="{% url 'import' %}">-->
                    <!--                    <i class="material-icons" style="font-size:30px">file_upload</i></a>-->
                    {% if despesa %}
                    <table class="table table-responsive-lg table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Imovel</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Data</th>
                            <th scope="col">Nota Fiscal</th>
                            <th scope="col">Observação</th>
                            <th scope="col">Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for despesas in despesa %}
                        <tr>
                            <td><a>{{despesas.imoveis}}</a></td>
                            <td><a>{{despesas.tipo}}</a></td>
                            <td><a>{{despesas.valor}}</a></td>
                            <td><a>{{despesas.data}}</a></td>
                            <td><a>{{despesas.nota_fiscal}}</a></td>
                            <td><a>{{despesas.observacao}}</a></td>
                            <td>
                                <a href="{% url 'despesas_edit' despesas.id %}"
                                   class="material-icons" style="font-size:23px"
                                   data-toggle="tooltip" title="Editar">
                                    edit
                                </a>
                                <a href="{% url 'delete' despesas.id %}"
                                   data-toggle="modal" data-target="#myModal3"
                                   class="material-icons" style="font-size:23px;color:red"
                                   data-toggle="tooltip" title="Deletar">
                                    delete_forever
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal3" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>

                                            </div>
                                            <div class="modal-body">
                                                {% block teste2Delete %}
                                                {% include 'despesas/despesas_delete_confirm.html'%}
                                                {% endblock %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}

                    <li>Desculpe, não existe nenhuma despesa cadastrada.</li>
                    {% endif %}
                    <hr>
                    <a href="{% url 'despesas' %}" class="btn btn-primary">Nova Despesa</a>
                    <!--                <div class="pagination">-->
                    <!--                    <span class="step-links">-->
                    <!--                        {% if posts.has_previous %}-->
                    <!--                            <a href="?page={{ posts.previous_page_number }}">Anterior</a>-->
                    <!--                        {% endif %}-->
                    <!--        -->
                    <!--                        <span class="current">-->
                    <!--                            {{ posts.number }} de {{ posts.paginator.num_pages }}-->
                    <!--                        </span>-->
                    <!--        -->
                    <!--                        {% if posts.has_next %}-->
                    <!--                            <a href="?page={{ posts.next_page_number }}">Próxima</a>-->
                    <!--                        {% endif %}-->
                    <!--                    </span>-->
                    <!--                </div>-->
                    <br>
                    <hr>
                    <!--                <a href="{% url 'realEstate_add' %}" class="btn btn-primary"> Adicionar Imovel</a>-->
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>
{% endblock %}


