<style>

.linha{
    font-size:158%;

 }
.titulo{
    margin-left: 900%;
    padding: 0% 0% 0% 0%;
    font-size: 200%;
 }
 .negrito{
    font-size: 112%;
 }
.assinatura1{
    font-size: 150%;
 }
.assinatura2{
    font-size: 150%;
}
p {
font-size: 150%;

}
</style>
<br>
<h6 class="titulo">Rescisão de contrato de locação n° <b>{{Numcontrato}}</b></h6>
<br>
<br>
<p class="linha">
    Eu, <b>{{Morador}}</b>, assinei na data <b>{{Entrada}}</b>, com o LOCADOR <b>{{nomeProprietario}}</b>,
    contrato de locação de prazo determinado de <b>{{vigencia}}</b> meses, tendo como objeto o imóvel de
    propriedade do LOCADOR, situado na <b>{{Imovel}}</b>, n°: <b>{{numeroEndereco}}</b> bairro: <b>{{bairroEndereco}}</b>,
    Cidade: <b>{{cidadeEndereco}}/{{estadoEndereco}}</b>.
</p>
<p class="linha">
    Portanto, a partir da presente data, o LOCATÁRIO avisa que na data  __ / __ / ____ , dá como encerrado o contrato
    de locação assinado entre as partes, de acordo com a cláusula contratual que assim o determina, promovendo
    a entrega das chaves do bem imóvel ao LOCADOR.
</p>
<br>
<p class="linha">
    O LOCATÁRIO sempre cumpriu as obrigações contratuais pactuadas, não estando, nesta data,
    em débito com alugueres, taxas ou outras obrigações assumidas através deste instrumento que se quer rescindir.
</p>
<p class="linha">
    O LOCATÁRIO informa que as prestações que vencerem posteriormente à rescisão do contrato de locação serão
    desconsideradas, pois a relação contratual não mais existirá; além disso, não será devida nenhuma multa contratual,
    conforme pactuado entre as partes e previsto no artigo 4º, paragrafo único da Lei nº 8245/911.
</p>
</p>
<p align="Center">{{cidadeProprietario}}, {{diaAtual}} de {{mesAtualExtenso}} de {{anoAtual}}</p>
<br>
<p class="assinatura1">
    ______________________________________
<p> Morador: {{Morador}}</p>
</p>

<p class="assinatura2">
    ______________________________________
<p>Proprietário: {{nomeProprietario}}</p>

</p>